.albumGrid {
	display: flex;
	justify-content: start;
	flex-direction: row;
	flex-wrap: wrap;
	align-content: stretch;
  }

.albumDiv {
	width: 12.5%;
	min-width: 500px;
	min-height: 500px;
}


img {
	width: 100%;
	min-width: 500px;
	height: 100%;
}

body::-webkit-scrollbar {
	display: none;
}